<div class="col-xs-12">
    <h1><small>List of Servers and Blueprints</small></h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span *ngIf="element.type === 'server'" style="font-weight: bolder;">Server: </span>
            <span *ngIf="element.type === 'blueprint'" style="font-weight: bolder;">Blueprint: </span>
            {{ element.name }}
        </div>
        <div class="panel-body">
            <p>
                <strong *ngIf="element.type === 'server'">{{ element.content }}</strong>
                <em *ngIf="element.type === 'blueprint'">{{ element.content }}</em>
            </p>
        </div>
    </div>
</div>